/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
  }
  ul , li {
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
  /* 라이브러리 */
  .cell{
    float: left ;
  }
  .cell-r{
    float: right ;
  }
  .row::after{
    clear: both;
    content: "";
    display: block;
  }
  .con{
    max-width: 1200px ;
    margin: 0 auto ;
  } 
  /* 스타일 */
  
  /* top-bar-wrap st */
  .top-bar-wrap {
    width: 100%;
    background-color: pink;
  }
  .top-bar-wrap >.top-bar {
      background-color: grey;
      height: 100px;
      position: relative;
  }
  .top-bar-wrap >.top-bar >.logo-box {

  }
  .top-bar-wrap >.top-bar >.logo-box >.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top-bar-wrap >.top-bar >.menu-box >.menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url(../img/search_logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 50px;
    top:50%;
    transform: translateY(-50%);
  }

  .top-bar-wrap >.top-bar >.search-box {
    width: 251px;
    height: 44px;
    background-color: brown;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    padding: 0 20px;
    box-sizing: border-box;
  }
 
  .top-bar-wrap >.top-bar >.search-box >.search {
    width: 189px;
    height: 42px;

    
  }
  .top-bar-wrap >.top-bar >.search-box >.search-btn {
    width: 31px;
    height: 31px;
    background-color: black;
    background-image: url(../img/search_logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 50%;

  }