/* 노멀라이징 */

body {
  line-height: 1;
  letter-spacing: -1px;
}
* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.cell-r {
  float: right;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

.con {
  max-width: 1200px;
  margin: 0 auto;
}

/* 스타일 */

/* top-bar-wrap st */
.top-bar-wrap {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.top-bar-wrap>.top-bar {
  /* background-color: grey; */
  height: 100px;
  position: relative;
}

.top-bar-wrap>.top-bar>.logo-box {}

.top-bar-wrap>.top-bar>.logo-box>.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* 메뉴의 메뉴  */

.top-bar-wrap>.top-bar>.menu-box {
  
}
.top-bar-wrap>.top-bar>.menu-box>.menu {
  /* cursor: pointer; */
  width: 31px;
  height: 34px;
  background-image: url(../img/search_logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);

}

.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-bg {
  width: 538px;
  height: 418px;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0;

 
}

.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-bg >.gnb-menu {
  width: 198px;
  height: 196px;
  padding: 16px 0 0 30px;
  font-family: 'Noto Sans KR', sans-serif;
}
.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-bg >.gnb-menu > li {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;

}
.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-bg >.gnb-menu > li > a {

}


.top-bar-wrap >.top-bar >.search-wrap {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../IMG/);
}

.top-bar-wrap >.top-bar >.search-wrap >.search-box {
  position: relative;
  margin-right: 10px;
  background-image: url(../IMG/bg_search_form.png);
}

.top-bar-wrap>.top-bar >.search-wrap .search-box>.search {
  width: 251px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  /* background-color: black; */
  box-sizing: border-box;
  border: 0;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 300;
}

.top-bar-wrap>.top-bar >.search-wrap >.search-box>.search:focus {
  outline: 0;
}

.top-bar-wrap>.top-bar >.search-wrap >.search-box>.btn-box {
}

.top-bar-wrap>.top-bar >.search-wrap >.search-box>.btn-box>.search-btn {
  width: 31px;
  height: 31px;
  background-image: url(../img/search_logo.png);
  background-repeat: no-repeat;
  background-position: 0 -120px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.top-bar-wrap>.top-bar >.search-wrap >.login-btn {
  width: 31px;
  height: 41px;
  background-image: url(../img/search_logo.png);
  background-repeat: no-repeat;
  background-position: 0 -40px;
  margin-top: 3px;
}

/* top-bar-wrap en */

/* main-visual st */
.main-visual>.section01>.main-slider-wrap {
  max-width: 100%;
  position: relative;
}

.main-visual>.section01>.main-slider-wrap>.main-slider {
  /* position: relative; */
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content01 {
  background-image: url(../IMG/section1-1-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content02 {
  background-image: url(../img/section1-2-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content03 {
  background-image: url(../img/section1-3-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content04 {
  background-image: url(../img/section1-4-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content05 {
  background-image: url(../img/section1-5-new.jpg);
}

.main-visual>.section01>.main-slider-wrap .slick-dots {
  bottom: 60px;

}
.main-visual>.section01>.main-slider-wrap .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.main-visual>.section01>.main-slider-wrap .slick-dots>li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
  border: 1px solid #333;
  margin: 0 10px;
  box-sizing: border-box;
}

.main-visual>.section01>.main-slider-wrap .slick-dots>li.slick-active {
  background-color: #333;
}

.main-visual>.section01>.main-slider-wrap .slick-dots>li>button::before {
  content: "";
}

.main-visual>.section01>.main-slider-wrap .slick-dots>li>button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
}

/* ------------------------------------------------------- */

.main-visual>.section01>.main-slider-wrap >.next-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: right center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
.main-visual>.section01>.main-slider-wrap >.prev-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}

/* --------------------- section02 ----------------------*/

.main-visual >.section02 >.sub-slide-wrap {
  position: relative;
}

/* ----------------- 슬라이드 버튼 ------------------- */
.main-visual >.section02 >.sub-slide-wrap >.next-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: right center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.main-visual >.section02 >.sub-slide-wrap >.prev-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}
/* -------------------- left --------------------- */

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.left {
  width: 50%;
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.left .content {
  width: 100%;
  height: 830px;
  /* background-color: red; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box01 >.left .content01 {
  background-image: url(../img/section2-1_L.jpg);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box02 >.left .content02 {
  background-image: url(../img/section2-2_L.jpg);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box03 >.left .content03 {
  background-image: url(../img/section2-3_L.jpg);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box04 >.left .content04 {
  background-image: url(../img/section2-4_L.jpg);
}

/* -------------------- right ---------------------- */

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right {
  width: 50%;
  background-color: #f5e2e2;
  height: 830px;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area {
  padding: 30px 60px 0 0;
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.title-box {
  margin: 54px 0 60px 50px;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.title-box >.main-title {
  font-family: 'Gowun Batang', serif;
  font-size: 46px;
  color: #333;
  font-weight: bold ;

}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.title-box >.sub-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  color: #333;
  font-weight: 500;
  margin-top: 20px;
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box{ 
  width: 100%;
  margin: 0 0 0 50px
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.product >.prd-img {
  width: 100% ;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.product >.prd-info {
  width: 100%;
  padding: 28px 0 0;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.product >.prd-info >.prd-name {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  overflow: hidden;
  font-weight: 400;
  color: #333;
  line-height: 1.34;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 9px;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.product >.prd-info >.prd-price {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #333;
  font-weight: 500;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.product >.prd-info >.prd-price > em {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 19px;
  color: #333;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  letter-spacing: normal;
}

/* ------------------ 왼쪽 상품 ---------------- */
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.prd_L {
  margin-right: 50px;
  width: calc(50% - 50px);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box01 >.prd_L >.prd-img {
  background-image: url(../img/section2-1_r1.jpg);
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box02 >.prd_L >.prd-img {
  background-image: url(../img/section2-2_r1.jpg);
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box03 >.prd_L >.prd-img {
  background-image: url(../img/section2-3_r1.jpg);
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box04 >.prd_L >.prd-img {
  background-image: url(../img/section2-4_r1.jpg);
}


/* ----------------- 오른쪽 상품 --------------- */
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box >.prd_R {
  width: calc(50% - 50px);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box01 >.prd_R >.prd-img {
  background-image: url(../img/section2-1_r2.jpg);
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box02 >.prd_R >.prd-img {
  background-image: url(../img/section2-2_r2.jpg);
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box03 >.prd_R >.prd-img {
  background-image: url(../img/section2-4_r2.jpg);
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .prd-area >.content-box04 >.prd_R >.prd-img {
  background-image: url(../img/section2-4_r2.jpg);
}




/* --------------- 슬라이드 닷츠 ------------------ */
.main-visual>.section02>.sub-slide-wrap .slick-dots {
  bottom: 30px;
  width: 50%;
}

.main-visual>.section02>.sub-slide-wrap .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.main-visual>.section02>.sub-slide-wrap .slick-dots>li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  border: 2px solid #000;
  margin: 0 7.5px;
  box-sizing: border-box;
}

.main-visual>.section02>.sub-slide-wrap .slick-dots>li.slick-active {
  background-color: #000;
}

.main-visual>.section02>.sub-slide-wrap .slick-dots>li>button::before {
  content: "";
}

.main-visual>.section02>.sub-slide-wrap .slick-dots>li>button {
  width: auto;
  height: auto;
  border-radius: 50%;
  box-sizing: border-box;
}
/* main-visual en */


/* banner-section st */

/* .banner-section {
  display: flex;
  margin: 90px auto;
} */

.banner-section >.banner {
  width: 33.3%;
}

.banner-section >.banner img {
  width: 100%;
}

/* banner-section en */


/* ----------------------------------------------- */

/* main-insta-section st */

.main-insta-section {
  /* overflow: hidden; */
  margin: 0 auto;
  background: #f5e2e2;
}
.main-insta-section >.main-insta {

}

/*----------------- right ---------------- */
.main-insta-section >.main-insta >.insta_r {
  width: 50%;
  height: 960px;
  background-image: url(../img/section4_r.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.main-insta-section >.main-insta >.insta_r >.txt-box {
  margin: 54px 0 60px 50px;
}
.main-insta-section >.main-insta >.insta_r >.txt-box >.title {
  font-size: 46px;
  color: #333;
  font-weight: bold;
  font-family: 'Gowun Batang', serif;
}
.main-insta-section >.main-insta >.insta_r >.txt-box >.sub-txt {
  margin-top: 20px;
  font-size: 26px;
  color: #333;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

/*----------------- left ---------------- */

.main-insta-section >.main-insta >.insta_l {
  width: 50%;
  height: 960px;
  background-color: #f5e2e2;
  overflow: hidden;
}

.main-insta-section >.main-insta >.insta_l >.slider {

}
.main-insta-section >.main-insta >.insta_l >.slider .content {

}
.main-insta-section >.main-insta >.insta_l >.slider .slick-slide {
  overflow: hidden;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box {
  position: relative;
  width: 810px;
  height: 960px;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box > a {
  display: block;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .insta-img {
  background-size: cover;
  background-position: 0 0 ;
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .insta-img-a {
  width: 420px;
  height: 420px;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .insta-img-b {
  width: 300px;
  height: 300px;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .i-1 {
  left: 0;
  top: 60px;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .i-2 {
  left: 390px;
  top: 150px;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .i-3 {
  left: 30px;
  top: 600px;
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box .i-4 {
  left: 390px;
  top: 520px;
}

/* --------------- 인스타 이미지 -----------------  */
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box01 .i-1{ 
  background-image: url(../IMG/insta1-1.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box01 .i-2{ 
  background-image: url(../img/insta1-2.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box01 .i-3{
  background-image: url(../img/insta1-3.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box01 .i-4{ 
  background-image: url(../img/insta1-4.jpg);
}

/* -------------------------------------------------------- */

.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box02 .i-1{ 
  background-image: url(../IMG/insta2-1.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box02 .i-2{ 
  background-image: url(../img/insta2-2.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box02 .i-3{
  background-image: url(../img/insta2-3.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box02 .i-4{ 
  background-image: url(../img/insta2-4.jpg);
}

/* -------------------------------------------------------- */

.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box03 .i-1{ 
  background-image: url(../IMG/insta3-1.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box03 .i-2{ 
  background-image: url(../img/insta3-2.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box03 .i-3{
  background-image: url(../img/insta3-3.jpg);
}
.main-insta-section >.main-insta >.insta_l >.slider .content >.insta-img-box03 .i-4{ 
  background-image: url(../img/insta3-4.jpg);
}


/* main-insta-section en */


/* last-section-wrap st */

.last-section-wrap {
  background-color: #f5e2e2;
}
.last-section-wrap >.last-section {

}
.last-section-wrap .last_left {
  width: 50%;
  height: 960px;
  background-image: url(../img/section5_L.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.last-section-wrap .last_right {
  width: 50%;
  height: 960px;
}

.last-section-wrap >.last-section >.last_right >.txt-box {
  margin: 54px 0 60px 50px;
}
.last-section-wrap .last_right >.txt-box >.title {
  font-size: 46px;
  color: #333;
  font-weight: bold;
  font-family: 'Gowun Batang', serif;
}
.last-section-wrap .last_right >.txt-box >.sub-txt {
  margin-top: 20px;
  font-size: 26px;
  color: #333;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}
.last-section-wrap .last_right >.img-box {
  width: auto;
  height: 654px;
  margin: 58px 0 60px 125px;
  overflow: hidden;
}

.last-section-wrap .last_right >.img-box > li {
  width: 50%;
  overflow: hidden;
}


/* last-section-wrap en  */

/* up-btn-area */
.up-btn-area {
  position: fixed;
  right: 11%;
  bottom: 40px;
  background-color: transparent;
  border: 0;
}
.up-btn-area >.up-btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ;
}
.up-btn-area >.up-btn.active {
  opacity: 1;
  visibility: visible ;
}
/* footer-wrap st  */
footer {
  padding-bottom: 30px;
  background: #f5e2e2;
  border-top: 1px solid #d2d2d2;
  font-size: 13px;
  color: #666;
}

footer >.nav-1 {
}

footer >.nav-1 >.footer-menu {
}
footer >.nav-1 >.footer-menu >li {
}
footer >.nav-1 >.footer-menu > li > a {

}
