/* 노멀라이징 */

body {
  line-height: 1;
  letter-spacing: -1px;
}
* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.cell-r {
  float: right;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

.con {
  max-width: 1200px;
  margin: 0 auto;
}

/* 스타일 */

/* top-bar-wrap st */
.top-bar-wrap {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.top-bar-wrap>.top-bar {
  /* background-color: grey; */
  height: 100px;
  position: relative;
}

.top-bar-wrap>.top-bar>.logo-box {}

.top-bar-wrap>.top-bar>.logo-box>.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-bar-wrap>.top-bar>.menu-box>.menu {
  /* cursor: pointer; */
  width: 31px;
  height: 34px;
  background-image: url(../img/search_logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  

  display: none;
}

.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-back {
  width: 538px;
  height: 418px;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0;
}

.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-back >.gnb-menu {
  width: 198px;
  height: 196px;
  padding: 16px 0 0 30px;
  font-family: 'Noto Sans KR', sans-serif;
}
.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-back >.gnb-menu > li {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;

}
.top-bar-wrap>.top-bar>.menu-box>.menu >.gnb-back >.gnb-menu > li > a {

}


.top-bar-wrap >.top-bar >.search-wrap {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../IMG/);
}

.top-bar-wrap >.top-bar >.search-wrap >.search-box {
  position: relative;
  margin-right: 10px;
  background-image: url(../IMG/bg_search_form.png);
}

.top-bar-wrap>.top-bar >.search-wrap .search-box>.search {
  width: 251px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  /* background-color: black; */
  box-sizing: border-box;
  border: 0;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 300;
}

.top-bar-wrap>.top-bar >.search-wrap >.search-box>.search:focus {
  outline: 0;
}

.top-bar-wrap>.top-bar >.search-wrap >.search-box>.btn-box {
}

.top-bar-wrap>.top-bar >.search-wrap >.search-box>.btn-box>.search-btn {
  width: 31px;
  height: 31px;
  background-image: url(../img/search_logo.png);
  background-repeat: no-repeat;
  background-position: 0 -120px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.top-bar-wrap>.top-bar >.search-wrap >.login-btn {
  width: 31px;
  height: 41px;
  background-image: url(../img/search_logo.png);
  background-repeat: no-repeat;
  background-position: 0 -40px;
  margin-top: 3px;
}

/* top-bar-wrap en */

/* main-visual st */
.main-visual>.section01>.main-slider-wrap {
  max-width: 100%;
  position: relative;
}

.main-visual>.section01>.main-slider-wrap>.main-slider {
  /* position: relative; */
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content01 {
  background-image: url(../IMG/section1-1-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content02 {
  background-image: url(../img/section1-2-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content03 {
  background-image: url(../img/section1-3-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content04 {
  background-image: url(../img/section1-4-new.jpg);
}

.main-visual>.section01>.main-slider-wrap>.main-slider .content05 {
  background-image: url(../img/section1-5-new.jpg);
}

.main-visual>.section01>.main-slider-wrap .slick-dots {
  bottom: 60px;

}
.main-visual>.section01>.main-slider-wrap .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.main-visual>.section01>.main-slider-wrap .slick-dots>li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
  border: 1px solid #333;
  margin: 0 10px;
  box-sizing: border-box;
}

.main-visual>.section01>.main-slider-wrap .slick-dots>li.slick-active {
  background-color: #333;
}

.main-visual>.section01>.main-slider-wrap .slick-dots>li>button::before {
  content: "";
}

.main-visual>.section01>.main-slider-wrap .slick-dots>li>button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
}

/* ------------------------------------------------------- */

.main-visual>.section01>.main-slider-wrap >.next-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: right center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
.main-visual>.section01>.main-slider-wrap >.prev-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}

/* section02 */

.main-visual >.section02 >.sub-slide-wrap {
  position: relative;
}

.main-visual >.section02 >.sub-slide-wrap >.next-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: right center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.main-visual >.section02 >.sub-slide-wrap >.prev-btn {
  background-color: rgba(0, 0, 0, .2);
  background-image: url(../img/bg_slide_btn1.png);
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.left {
  width: 50%;
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.left .content {
  width: 100%;
  height: 830px;
  /* background-color: red; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box01 >.left .content01 {
  background-image: url(../img/section2-1_L.jpg);
  
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box02 >.left .content02 {
  background-image: url(../img/section2-2_L.jpg);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box03 >.left .content03 {
  background-image: url(../img/section2-3_L.jpg);
}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box04 >.left .content04 {
  background-image: url(../img/section2-4_L.jpg);
}

/* ------------------------------------------ */

.main-visual >.section02 >.sub-slide-wrap >.slider02  .prd-box >.right {
  width: 50%;
  background-color: #f5e2e2;
  height: 830px;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02  .prd-box >.right >.prd-area {
  padding: 30px 60px 0 0;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02  .prd-box >.right .title-area {

  margin-top: 54px ;
  margin-left: 50px;
  margin-bottom: 60px;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02  .prd-box >.right .title-area >.title {
  font-size: 46px;
  color: #333;
  font-weight: bold;
  font-family: 'Gowun Batang', serif;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.sub-txt {
  margin-top: 20px;
  font-size: 26px;
  color: #333;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}
/* -----------------------이미지------------------------ */
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right >.prd-area {
  overflow: hidden;
  padding: 30px 60px 0 0;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info {
  width: 100%;
  padding: 28px 30px 0 10px;
  margin-top: 30px;
  max-width: 900px;
  display: flex;
  justify-content: center;
}
/* .main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info >.prd-01 {
  width: 45%;
  margin-right: 5%;
}
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info >.prd-02 {
  width: 45%;
  margin-right: 5%;
} */
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info img {
  width: 342px;
  height: 342px;
}
 

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info .item-info >.prd-name {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  overflow: hidden;
  font-weight: 400;
  color: #333;
  line-height: 1.34;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info .item-info {
  width: 100%;
  padding: 28px 0 0;
 }
.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info .item-info >.price-area {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  overflow: hidden;
  font-weight: 400;
  color: #333;
  line-height: 1.34;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.main-visual >.section02 >.sub-slide-wrap >.slider02 .prd-box >.right .title-area >.prd-info .item-info >.price-area em {
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #333;
  letter-spacing: normal;
  font-style: normal;
}

/* ----------------------------------------------------------- */
.main-visual>.section02>.sub-slide-wrap .slick-dots {
  bottom: 30px;
  width: 50%;
}

.main-visual>.section02>.sub-slide-wrap .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.main-visual>.section02>.sub-slide-wrap .slick-dots>li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  border: 2px solid #000;
  margin: 0 7.5px;
  box-sizing: border-box;
}

.main-visual>.section02>.sub-slide-wrap .slick-dots>li.slick-active {
  background-color: #000;
}

.main-visual>.section02>.sub-slide-wrap .slick-dots>li>button::before {
  content: "";
}

.main-visual>.section02>.sub-slide-wrap .slick-dots>li>button {
  width: auto;
  height: auto;
  border-radius: 50%;
  box-sizing: border-box;
}
/* main-visual en */


/* banner-section st */

/* .banner-section {
  display: flex;
  margin: 90px auto;
} */

.banner-section >.banner {
  width: 33.3%;
}

.banner-section >.banner img {
  width: 100%;
}

/* banner-section en */

/* main-insta-section st */

.main-insta-section {
  /* overflow: hidden; */
  margin: 0 auto;
  background: #f5e2e2;
}
.main-insta-section >.main-insta {

}
.main-insta-section >.main-insta >.insta_r {
  width: 50%;
  height: 960px;
  background-image: url(../img/section4_r.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.main-insta-section >.main-insta >.insta_r >.txt-box {
  margin: 54px 0 60px 50px;
}
.main-insta-section >.main-insta >.insta_r >.txt-box >.title {
  font-size: 46px;
  color: #333;
  font-weight: bold;
  font-family: 'Gowun Batang', serif;
}
.main-insta-section >.main-insta >.insta_r >.txt-box >.sub-txt {
  margin-top: 20px;
  font-size: 26px;
  color: #333;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

.main-insta-section >.main-insta >.insta_l {
  width: 50%;
  height: 960px;
  background-color: #f5e2e2;
}

/* main-insta-section en */


/* last-section-wrap st */

.last-section-wrap {
  background-color: #f5e2e2;
}
.last-section-wrap >.last-section {

}
.last-section-wrap .last_left {
  width: 50%;
  height: 960px;
  background-image: url(../img/section5_L.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.last-section-wrap .last_right {
  width: 50%;
  height: 960px;
}

.last-section-wrap >.last-section >.last_right >.txt-box {
  margin: 54px 0 60px 50px;
}
.last-section-wrap .last_right >.txt-box >.title {
  font-size: 46px;
  color: #333;
  font-weight: bold;
  font-family: 'Gowun Batang', serif;
}
.last-section-wrap .last_right >.txt-box >.sub-txt {
  margin-top: 20px;
  font-size: 26px;
  color: #333;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}
.last-section-wrap .last_right >.img-box {
  width: auto;
  height: 654px;
  margin: 58px 0 60px 125px;
  overflow: hidden;
}

.last-section-wrap .last_right >.img-box > li {
  width: 50%;
  overflow: hidden;
}


/* last-section-wrap en  */


/* footer-wrap st  */
footer {
  padding-bottom: 30px;
  background: #f5e2e2;
  border-top: 1px solid #d2d2d2;
  font-size: 13px;
  color: #666;
}

footer >.nav-1 {
}

footer >.nav-1 >.footer-menu {
}
footer >.nav-1 >.footer-menu >li {
}
footer >.nav-1 >.footer-menu > li > a {

}
